.container{
    text-align: center;
    margin: auto;

}
h1{
    font-family: 'Handjet', cursive;
    font-size: 150px;
    color: #97FEED;
    margin-bottom: 2%;
}
.dice{
    text-align: center;
    display: inline-block;
    
}
p{
    font-family: 'Handjet', cursive;
    color: #35A29F;
    font-size: 2em;
}
img{
    height: 120px;
    width: 120px;
}

body{
    background-color: #071952;
}
footer{
    text-align: center;
    color: white;
}